<h1>EnableMe</h1>
<div class="row">
  <div class="span6">
    <div class="description">
      <h2>Rate Games</h2>
      <ul>
        <li>EnableMe pulls in your Steam library</li>
        <li>Rate what you've played</li>
      </ul>
      </p>
    </div>
    <div class="description">
      <h2>Get Recommendations</h2>
      <ul>
        <li>Based on others with similar interests, critic scores, and categories you like, EnableMe will recommend games to you</li>
        <li>Let us know if you're not interested in something (or have played it) and we'll update our recommendations accordingly</li>
    </div>
    <div class="steam_warning">
      <p>*Requires a public Steam profile (why?)</p>
    </div>
  </div> <!-- /span6 -->
  <div class="span4 offset2">
    
  </div>

</div> <!-- /row -->