<% provide(:title, @user.steam_name) %>
<div class="row steam_name">
  <div class="span8 offset2">
    <h1><%= @user.steam_name %></h1>
  </div>
</div>
<div class="row border_bottom">
  <h2>Rates Games you've played</h2>
</div>
<div class="row border_bottom">
  <p>placeholder for game library side-scrolling content </p>
</div>

<div class="row">
  <div class="span6">
    <h2>Our Recommendations</h2>
    <h4>Top Rated</h4>
    <p>placeholder</p>
    <h4>Indie Games</h4>
    <p>placeholder</p>
    <h4>On Sale</h4>
    <p>placeholder</p>
  </div>
  <div class="span5 offset1">
    <h3>Stats on your Steam Games Library</h3>
    <p>placeholder</p>
  </div>
</div>